@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-vpn-bg text-vpn-text antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #c1c1c1;
  -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
  transition: background-color 5000s ease-in-out 0s;
}

select {
  background-color: #1f1f1f !important;
  color: #c1c1c1 !important;
}

select option {
  background-color: #1f1f1f !important;
  color: #c1c1c1 !important;
}

select option:checked {
  background: linear-gradient(#d8ed18, #d8ed18) !important;
  color: #000000 !important;
}
